<<<<<<< HEAD
<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
    <div class="widget tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
=======
<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
    <div class="widget tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
>>>>>>> d80a5030d103859e15463fd9069d65ca413375bf
<% } %>